<option value="X" name="X"></option>
    {% for provincia in provincias %}
<option value="{{provincia.id}}" name="{{provincia}}">{{provincia}}</option>
    {% endfor %}


<script>$("#provactualcarga").hide();
    $("#provnacicarga").hide();</script>