<option value="X" name="X"></option>
    {% for localidad in localidades %}
<option value="{{localidad.id}}" name="{{localidad}}">{{localidad}}</option>
    {% endfor %}

<script>$("#ciudadactualcarga").hide();</script>