{# empty Twig template #}
{% extends '::basico.html.twig' %}

{% block sidebar %}
<ul>

    <li><a href="{{ path('alta_donante') }}" title="Nuevo Donante">Nuevo Donante</a></li>
    <li><a href="{{ path('pagina_donante') }}" title="Consultar Donante">Consultar Donante</a></li>
</ul>
<ul>
    {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('informe_voluntario') }}" title="Informe Donantes Voluntarios">Informe Donantes Voluntarios</a></li>{% endif %}
</ul>
{% endblock %}

{% block donanteSel %}class="selected"{% endblock %}