{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Excluir Donante{% endblock %}

{% block contenido %}


<form action="{{ path('excluir_donante', { 'id' : id }) }}" method="post">
    <div>  
        Donante a Excluir <br/>
        <table>
            <tr>
                <td><label>ID </label></td>
                <td>{# donante #}</td>
            </tr>
            <tr>
                <td><label>DNI </label></td>
                <td>{# donante #}</td>
            </tr>
            <tr>
                <td><label>Apellido y nombre </label></td>
                <td>{# donante #}</td>
            </tr>


            <tr><td><br/></td></tr>
            <tr>
                <td><label> Seleccione un tipo de exclusion: <label> </td>
                            <td> <select id="tipodeexclusion" name="tipodeexclusion">
                                    {% for tipoexclusion in tiposExclusion %}
                                 <option id="{{ tipoexclusion.id }}" value="{{ tipoexclusion.duracion }}">{{ tipoexclusion }}</option>
                                    {% endfor %}
                                </select> 
                            </td> 
                            <td> <label id="tiempo"></label> </td>  
           </tr> 
     </table>
  </div>

 <input type="submit" />
</form>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
$("<option value='X' selected='selected'></option>").insertBefore($("select option")[0]);
$("select").change(function(){ $("select option[value='X']").remove(); });
$("#tipodeexclusion").change(function(){
var srt = $("#tipodeexclusion option:selected").attr("value");
if ("0" == srt) {
    srt = "indefinido";
    } else {
    srt = ("Cantidad de dias: "+srt);
        };
   $("#tiempo").text(srt);     
});
</script>


{% endblock %}


