{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Excluir Donante{% endblock %}

{% block contenido %}


<form action="{{ path('excluir_donante', { 'id' : id }) }}" method="post">
    <div>  
        Donante a Excluir <br/>
        <table>
            <tr>
                <td><label>ID </label></td>
                <td>{# donante #}</td>
            </tr>
            <tr>
                <td><label>DNI </label></td>
                <td>{# donante #}</td>
            </tr>
            <tr>
                <td><label>Apellido y nombre </label></td>
                <td>{# donante #}</td>
            </tr>


            <tr><td><br/></td></tr>
            <tr>
                <td><label> Seleccione un tipo de exclusion: <label> </td>
                            <td> <select id="tipodeexclusion" name="tipodeexclusion">
                                    {% for tipoexclusion in tiposExclusion %}
                                 <option value="{{ tipoexclusion.id }}">{{ tipoexclusion }}</option>
                                    {% endfor %}
                                </select> 
                            </td> 
                            
           </tr> 
     </table>
  </div>
<a id="tiempo">hola </a>
 <input type="submit" />
</form>

{% endblock %}
