{% extends '::basico.html.twig' %}

{% block title %}Excluir Donante{% endblock %}

{% block contenido %}
    <form action="{{ path('excluir_donante', { 'id' : id }) }}" method="post">
        {{ tiposExclusion }}
        {# aca deberia listar los tipos de exclusion para elegir #}
        <input type="submit" />
    </form>
{% endblock %}