{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Excluir Donante{% endblock %}

{% block contenido %}


<form action="{{ path('excluir_donante', { 'id' : id }) }}" method="post">
    <div>  
        Donante a Excluir <br/>
        <table>
            <tr>
                <td><label>ID </label></td>
                <td>{# donante #}</td>
            </tr>
            <tr>
                <td><label>DNI </label></td>
                <td>{# donante #}</td>
            </tr>
            <tr>
                <td><label>Apellido y nombre </label></td>
                <td>{# donante #}</td>
            </tr>


            <tr><td><br/></td></tr>
            <tr>
                <td><label> Seleccione un tipo de exclusion: <label> </td>
                            <td> <select id="tipodeexclusion" name="tipodeexclusion">
                                    {% for tipoexclusion in tiposExclusion %}
                                 <option id="{{ tipoexclusion.id }}" value="{{ tipoexclusion.duracion }}">{{ tipoexclusion }}</option>
                                    {% endfor %}
                                </select> 
                            </td> 
                            <td> <div id="tiempo">hola </div> </td>
                            
           </tr> 
     </table>
  </div>

 <input type="submit" />
</form>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
$("#tipodeexclusion").change(function(){
var str = "";
str = $("#tipodeexclusion option:selected").attr("value");
$("#tiempo").text(str);
});



</script>


{% endblock %}


