{% extends '::basico.html.twig' %}

{% block title %}Donante{% endblock %}

{% block contenido %}
    <p>Bloque busqueda</p>
    <p>Boton Nuevo Donante</p>
    <p>Bloque tabla con los donantes</p>
{% endblock %}