{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Donante{% endblock %}

{% block contenido %}

<h3>Consultar Donante:</h3>

<form id="buscar_form" name="buscar_form" method="post" action="{{ path('buscar_donante') }}">
    <table>
        <tr>
            <td><label>Búsqueda: </label></td>
            <td><input id="buscar" name="buscar" type="text" style="width: 120px"/></td>
            <td><label for="criterio">Criterio: </label></td>
            <td><select name="criterio" id="criterio" style="width: 120px">
                    <option value="id">Numero Donante</option>
                    <option value="dni">DNI</option>
                    <option value="nomapp">Apellido y Nombre</option>
                </select></td>
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>
{% endblock %}