{% extends "HSYSMainBundle:Usuario:usuariobase.html.twig" %}

{% block title %}ADMIN{% endblock %}

{% block contenido %}
<h3>Crear Usuario</h3>
<br/>
<form action="{{ path('admin_usuario_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
        <p>
            <button type="submit">Crear Usuario</button>
        </p>
    </form>

<br/>
    <div class="detalle">
        <ul>
            <li>
                <a href="{{ path('admin_usuario') }}">
                    Volver a Listado de Usuarios
                </a>
            </li>
        </ul>
    </div>

{% endblock %}
