{# empty Twig template #}
{% extends '::basico.html.twig' %}

{% block sidebar %}
<ul>
    <li><a href="{{ path('pagina_analisis') }}" title="Consultar Serología">Consultar Serología</a></li>
    <li><a href="{{ path('alta_analisis') }}" title="Nuevo Serología">Nuevo Serología</a></li>
</ul>
{% endblock %}

{% block analisisSel %}class="selected"{% endblock %}