{# empty Twig template #}
{% extends '::basico.html.twig' %}

{% block sidebar %}
<ul>
    <li><a href="{{ path('pagina_analisis') }}" title="Consultar Analisis">Consultar Análisis</a></li>
    <li><a href="{{ path('alta_analisis') }}" title="Nuevo Analisis">Nuevo Análisis</a></li>
</ul>
{% endblock %}

{% block analisisSel %}class="selected"{% endblock %}