{# empty Twig template #}
{% extends '::basico.html.twig' %}

{% block sidebar %}
<ul>
    <li><a href="{{ path('pagina_analisis') }}" title="Consultar Serología">Consultar Serología</a></li>
    <li><a href="{{ path('alta_analisis') }}" title="Nueva Serología">Nueva Serología</a></li>
</ul>
<ul>
    <li><a href="{{ path('informe_analisis') }}" title="Generar Informe Diario">Generar Informe Diario</a></li>
</ul>
{% endblock %}

{% block analisisSel %}class="selected"{% endblock %}