{% extends 'HSYSMainBundle:Analisis:analisisbase.html.twig' %}

{% block title %}Confirmado{% endblock %}

{% block contenido %}
<div class="consulta">
    Enhorabuena, El análisis serológico con el id "{{ id }}" ha sido correctamente {{ accion }}.
</div>
<br/>
<div class="detalle">
    <ul>
        <li><a href="{{ path('pagina_analisis') }}">Haga clic aquí para continuar</a></li>
    </ul>
</div>
{% endblock %}