{% extends 'HSYSMainBundle:Analisis:analisisbase.html.twig' %}

{% block title %}Nuevo Análisis{% endblock %}

{% block contenido %}
<h3>Seleccione la donación a analizar:</h3>
<form id="nuevo_donante" name="nuevo_donante" method="post" action="{{ path('alta_analisis_donante') }}">
    <table>
        <tr>
            <td><label>Número de donante: </label></td>
            <td><input id="numDonante" name="numDonante" type="text" style="width: 120px"/></td>
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>
{% include 'HSYSMainBundle:Analisis:seleccionardonacion.html.twig' %}
{% endblock %}