{% extends 'HSYSMainBundle:Analisis:analisisbase.html.twig' %}

{% block title %}Nuevo Análisis de Serología{% endblock %}

{% block contenido %}
<h3>Seleccione la donación a realizar la serología:</h3>
<form id="nuevo_donacion" name="nuevo_donacion" method="post" action="{{ path('alta_analisis_donacion') }}">
    <table>
        <tr>
            <td><label>Número Donación: </label></td>
            <td><input id="numDonacion" name="numDonacion" type="text" style="width: 120px"/></td>
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>
{% include 'HSYSMainBundle:Analisis:seleccionardonacion.html.twig' %}
{% endblock %}