{% extends 'HSYSMainBundle:Analisis:analisisbase.html.twig' %}

{% block title %}Nuevo Análisis{% endblock %}

{% block contenido %}
<h3>Seleccione la donación a analizar:</h3>
<ul>
    <li><a href="{{ path('alta_analisis_donacion') }}" title="Buscar por Número de Donación">Buscar por Número de Donación</a></li>
    <li><a href="{{ path('alta_analisis_bolsa') }}" title="Buscar por Número de Bolsa">Buscar por Número de Bolsa</a></li>
    <li><a href="{{ path('alta_analisis_donante') }}" title="Buscar por Donante">Buscar por Donante</a></li>
    <li><a href="{{ path('alta_analisis_fecha') }}" title="Buscar por Fecha">Buscar por Fecha</a></li>
</ul>
{% endblock %}