{% extends 'HSYSMainBundle:Analisis:analisisbase.html.twig' %}

{% block title %}Nuevo Análisis de Serología{% endblock %}

{% block contenido %}
<h3>Seleccione la donación a realizar la serología:</h3>
<form id="nuevo_fecha" name="nuevo_fecha" method="post" action="{{ path('alta_analisis_fecha') }}">
    <table>
        <tr>
            <td><label>Desde: </label></td>
            <td><input id="desde" name="desde" type="date" style="width: 120px" autofocus="autofocus"/></td>
            <td style="width: 30px"></td>
            <td><label>Hasta: </label></td>
            <td><input id="hasta" name="hasta" type="date" style="width: 120px"/></td>
            <td style="width: 30px"></td>
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>
{% include 'HSYSMainBundle:Analisis:seleccionardonacion.html.twig' %}
{% endblock %}