{% extends 'HSYSMainBundle:Sangre:sangrebase.html.twig' %}

{% block title %}Buscar{% endblock %}

{% block contenido %}
 <h3>Buscar Unidad por tipo de hemocomponente:</h3>
    <form id="buscar_form" name="buscar_form" method="post" action="{{ path('buscar_unidad_tipohemocomponente') }}">
    <table>
        <tr>
            <td><label for="criterio">Criterio: </label></td>
            <td><select name="buscar" id="buscar" style="width: 160px">
                    {% for tipohemocomponente in tiposhemocomponentes %}
                    <option value="{{tipohemocomponente.id}}">{{tipohemocomponente}}</option>
                    {% endfor %}
                </select></td>
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>
{% if metodo %}
{% include 'HSYSMainBundle:Sangre:resultados.html.twig' with {'unidades': unidades} %}
{% endif %}


{% endblock %}