{% extends 'HSYSMainBundle:Sangre:sangrebase.html.twig' %}

{% block title %}Buscar por ID{% endblock %}

{% block contenido %}
<h3>Buscar Unidades por ID:</h3>
    <form id="buscar_form" name="buscar_form" method="post" action="{{ path('buscar_unidad_id') }}">
    <table>
        <tr>
            <td><label for="criterio">ID de unidad: </label></td>
            <td><input id="buscar" name="buscar" type="text" style="width: 120px" autofocus="autofocus"/></td>   
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>
{% if metodo %}
{% include 'HSYSMainBundle:Sangre:resultados.html.twig' with {'unidades': unidades} %}
{% endif %}

{% endblock %}