{% extends 'HSYSMainBundle:Sangre:sangrebase.html.twig' %}

{% block title %}Buscar por Fecha de Vencimiento{% endblock %}

{% block contenido %}
 <h3>Buscar Unidades por Fecha de Vencimiento:</h3>
    <form id="buscar_form" name="buscar_form" method="post" action="{{ path('buscar_unidad_fecha') }}">
    <table>
        <tr>
            <td><label>Desde: </label></td>
            <td><input id="desde" name="desde" type="date" style="width: 140px" {#value="{{ "now"|date('Y-m-d') }}"#} autofocus="autofocus"/></td>
            <td style="width: 10px"></td>
            <td><label>Hasta: </label></td>
            <td><input id="hasta" name="hasta" type="date" style="width: 140px" {#value="{{ "now"|date('Y-m-d') }}"#}/></td>
            <td style="width: 10px"></td>
            <td><input type="submit" value="Buscar"/></td>
         </tr>
    </table>
</form>
<br/>

{% if metodo %}
{% include 'HSYSMainBundle:Sangre:resultados.html.twig' with {'unidades': unidades} %}
{% endif %}



{% endblock %}