{% extends 'HSYSMainBundle:Sangre:sangrebase.html.twig' %}

{% block title %}ERROR{% endblock %}

{% block contenido %}
<div class="consulta">
    <img src="{{ asset('images/error.png') }}"/> ERROR. {{ razon }}.
</div>
<br/>
<div class="detalle">
    <ul>
        <li><a href="{{ path('pagina_sangre') }}">Haga clic aquí para continuar</a></li>
    </ul>
</div>
{% endblock %}