{% extends 'HSYSMainBundle:Sangre:sangrebase.html.twig' %}

{% block title %}Sangre{% endblock %}

{% block contenido %}
    <h3>Buscar Unidades por Número de Donación:</h3>
    <form id="buscar_form" name="buscar_form" method="post" action="{{ path('buscar_unidad_donacion') }}">
    <table>
        <tr>
            <td><label for="criterio">Código de donación: </label></td>
            <td><input id="buscar" name="buscar" type="text" style="width: 120px"/></td>   
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>
    
{% endblock %}