{% extends 'HSYSMainBundle:Informes:informesbase.html.twig' %}

{% block title %}Informes{% endblock %}

{% block contenido %}
<h3>Seleccione tipo de informe a generar:</h3>
<ul>
    <li><a href="{{ path('informe_analisis') }}">Informe Diario de Serología</a></li>
    <li><a href="{{ path('informe_descarte') }}">Informe de Descarte de Unidades</a></li>
    <li><a href="{{ path('informe_desbloqueo') }}">Informe de Desbloqueo de Unidades</a></li>
    <li><a href="{{ path('informe_voluntario') }}">Informe de Donantes Voluntarios</a></li>
</ul>
{% endblock %}