{% extends 'HSYSMainBundle:Informes:informesbase.html.twig' %}

{% block title %}Informes{% endblock %}

{% block contenido %}
<h3>Seleccione tipo de informe a generar:</h3>
<ul>
    <li><a href="{{ path('informe_analisis') }}">Informe Diario de Serología</a></li>
    <li><a href="{{ path('pagina_informes') }}">Informe Anual</a></li>
    <li><a href="{{ path('pagina_informes') }}">Informe Personalizado</a></li>
</ul>
{% endblock %}