{% extends 'HSYSMainBundle:Informes:informesbase.html.twig' %}

{% block title %}Informe de Extracciones{% endblock %}

{% block contenido %}
<h3>Seleccione el rango de fechas para el Informe de Extracciones:</h3>
<form id="nuevo_fecha" name="nuevo_fecha" method="post" action="{{ path('informe_extraccion') }}">
    <table>
        <tr>
            <td><label>Desde: </label></td>
            <td><input id="desde" name="desde" type="date" style="width: 140px" value="{{ 'now' | date('Y-m-d') }}"/></td>
            <td style="width: 10px"></td>
            <td><label>Hasta: </label></td>
            <td><input id="hasta" name="hasta" type="date" style="width: 140px" value="{{ 'now' | date('Y-m-d') }}"/></td>
            <td style="width: 10px"></td>
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>
{% endblock %}