{% extends 'HSYSMainBundle:Donacion:donacionbase.html.twig' %}

{% block title %}Nueva Donacion{% endblock %}

{% block contenido %}
<h3>Seleccione tipo de donaci贸n:</h3>
<ul>
    <li><a href="{{ path('alta_donacion_voluntaria') }}">Donaci贸n voluntaria</a></li>
    <li><a href="{{ path('alta_donacion_receptor') }}">Donaci贸n con receptor</a></li>
    <li><a href="{{ path('alta_donacion_autodonacion') }}">Autodonaci贸n</a></li>
</ul>
{% endblock %}