{% extends 'HSYSMainBundle:Donacion:donacionbase.html.twig' %}

{% block title %}Nueva Donación{% endblock %}

{% block contenido %}
<h3>Seleccione tipo de donación:</h3>
<ul>
    <li><a href="{{ path('alta_donacion_voluntaria') }}">Donación voluntaria</a></li>
    <li><a href="{{ path('alta_donacion_receptor') }}">Donación con receptor</a></li>
    <li><a href="{{ path('alta_donacion_autodonacion') }}">Autodonación</a></li>
</ul>
{% endblock %}