{% extends 'HSYSMainBundle:Inicio:iniciobase.html.twig' %}

{% block title %}ERROR {{ status_code }}{% endblock %}

{% block contenido %}

{% if status_code = 403 %}
<h1 style="color: #B90302">403</h1>
<br/>
<div class="consulta"><img src="{{ asset('images/error.png') }}"/>    Acceso Denegado: Usted no posee los permisos necesarios.</div>

<br/>

<h3>Para continuar debe Iniciar Sesión.</h3>
<br/>
<a href="{{ path('login') }}">Iniciar Sesion</a>
{% endif %}

{% if status_code = 404 %}
<h1 style="color: #B90302">404</h1>
<br/>
<div class="consulta"><img src="{{ asset('images/error.png') }}"/>    Error. Página inexistente.</div>

<br/>
{% endif %}

{%endblock%}

